.sae__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.sae__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sae__navbar-links_logo {
    margin-right: 2rem;
    height: 4rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sae__navbar-links_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sae__navbar-links_container {
    flex: 4;
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: right;
    justify-content: right;
}

.sae__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sae__navbar-links_container p,
.sae__navbar-sign p,
.sae__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    padding: 0.5rem;
    margin: 0 1rem;
    cursor: pointer;
}
.sae__navbar-links_container p:hover,
.sae__navbar-sign p:hover,
.sae__navbar-menu_container p:hover {
    color: var(--color-sae-sliet);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    padding: 0.5rem;
    margin: 0 1rem;
    cursor: pointer;
    
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: 1px solid var(--color-sae-sliet);
    border-bottom: 1px solid var(--color-sae-sliet);
    transition: all 0.4s ease-in-out;
}
.active{
    color: var(--color-sae-sliet);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    padding: 0.5rem;
    margin: 0 1rem;
    cursor: pointer;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: 1px solid var(--color-sae-sliet);
    border-bottom: 1px solid var(--color-sae-sliet);
    transition: all 0.4s ease-in-out;
}

.sae__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.sae__navbar-menu svg {
    cursor: pointer;
}

.sae__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    /* min-width: 210px; */
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}
.sae__navbar-menu_container p {
    margin: 1rem 1rem;
    text-align: left;
}

@media screen and (max-width: 1050px) {
    .sae__navbar-links_container {
        display: none;
    }

    .sae__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .sae__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .sae__navbar {
        padding: 2rem;
    }

    .sae__navbar-sign {
        display: none;
    }

    .sae__navbar-menu_container {
        top: 1rem; 
    }
}